@using CRMEngSystem.Models.ViewModels.Account
@model AccountChangePasswordViewModel

<head>
    <style>
        .form-container {
            background-color: white;
            border-radius: 5px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }

        .data-input {
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            border: solid 1px #E1E2F3;
            background-color: transparent;
            color: #595586;
            outline: none;
            width: 100%;
        }

            .data-input::placeholder {
                color: #E1E2F3;
            }

        .btn-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-top: 10px;
        }

        .form-container-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            gap: 5px;
        }

            .form-container-row span {
                font-size: 12px;
                color: #595586;
                font-weight: bold;
            }

        .header-row {
            width: 110px;
            box-sizing: border-box;
            flex-shrink: 0;
        }

        .password-container {
            position: relative;
            width: 100%;
        }

        .eye-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            user-select: none;
        }
    </style>
</head>
<body>
    <div class="page-container">
        <div style="height: 30px; margin-bottom: 10px; align-items: center; padding-left: 15px;">
            <span style="color: #595586; font-size: 18px; font-weight: bold;">Зміна пароля</span>
        </div>
        @using (Html.BeginForm("AccountChangePassword", "AccountChangePassword", FormMethod.Post, new { @class = "form-container" }))
        {
            @if (@TempData["ErrorMessage"] != null)
            {
                <span style="color: #FF705C; font-size: 14px;">@TempData["ErrorMessage"]</span>
            }
            <div class="form-container-row">
                <div class="header-row"><span>Старий пароль: </span></div>
                <div class="password-container">
                    @Html.TextBoxFor(m => m.OldPassword, new { placeholder = "Старий пароль", type = "password", @class = "data-input", @required = "required", id = "old-password-field" })
                    <span class="eye-icon" onclick="togglePasswordVisibility('old-password-field', this)">👁️</span>
                </div>
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Новий пароль: </span></div>
                <div class="password-container">
                    @Html.TextBoxFor(m => m.NewPassword, new { placeholder = "Новий пароль", type = "password", @class = "data-input", @required = "required", id = "new-password-field" })
                    <span class="eye-icon" onclick="togglePasswordVisibility('new-password-field', this)">👁️</span>
                </div>
            </div>
            <div class="form-container-row">
                <div class="btn-container"><input class="add-btn" value="Змінити пароль" type="submit" style="width: 170px;" /></div>
            </div>
        }
    </div>
</body>
<script>
    function togglePasswordVisibility(passwordFieldId, eyeIcon) {
        var passwordField = document.getElementById(passwordFieldId);
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.textContent = "🙈";
        } else {
            passwordField.type = "password";
            eyeIcon.textContent = "👁️";
        }
    }
</script>