
<head>
    <style>
        .card-data{
            background-color:white;
            padding: 15px;
            border-radius: 5px;
            color: #595586;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 7px;
            margin-bottom: 10px;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="page-container">
        <div class="tabs-menu">
            <div class="tab-link-container-active">
                <div class="tab-link">Оновлення</div>
            </div>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px; color: #FF705C;">Увага!</span>
            <span>Не забувайте очищати кеш коли додано нове оновлення! (ctrl + F5). Так як деякі ресурси сайту кешуються браузером і можуть бути не актуальними.</span>
            <span>Це необхідна дія після кожного оновлення, щоб уникнути багів та помилок відображення сторінок сайту.</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Оновлення доставки (05.09.2024 / 21:54)</span>
            <span>Змінено механізм розрахунку доставки, тепер враховується лише вага. Вона множиться на коефіцієнт на кг (зараз виставлено 2€ ≈ 90грн за кг, його можна змінити в керуванні), якщо вага обладнання менше 1кг, рахується як для 1кг.</span>
            <span>Доставка тепер завжди автоматично додається до ціни обладання при створенні КП та при відправці листа до бухгалтерії.</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Оновлення замовлень (04.09.2024 / 13:44)</span>
            <span>Додано новий розділ на сторінці вибраного замовлення - "Бухгалтерія". За допомогою цього розділу можна відправити рахунок на електрону пошту для бухглатерії.</span>
            <span>Для цього необхідно вказати отримувача, якщо потрібен додатковий отримувач, вказати його теж. Далі додати коментар якщо потрібно, обрати курс. Наступним кроком обрати чи включати доставку у ціну кожної позиції, чи ні. Якщо доставка включена, то вона попозиційно додається до ціни обладнання, якщо ні - то не буде відображатися у таблиці і не буде додана у ціну обладнання.</span>
            <span>Доставку перед надсиланням можна змінити. При зміні вартості доставки, якщо ввімкнено попозиційне розподілення доставки, вона також попозиційно та пропорційно зміниться і буде включена у ціну обладнання.</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Оновлення каталогу (03.09.2024 / 17:54)</span>
            <span>Покращено пошук для найменування обладнання у каталозі. Тепер при пошуку не обов'язково вводити спеціальні символи (Дюйм, слеш, тире і так далі).</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Фікси (02.09.2024 / 11:56)</span>
            <span>Виправлено помилку відображення зображення обладнання, при відкритті з списку обладнання в замовленні.</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Оновлення каталогу та списку контактів (02.09.2024 / 10:07)</span>
            <span>Додано рік оновлення прайсу у форматі (yyyy) для позиції каталогу. Додано можливість пошуку контактів за підприємством у списку контактів, використовуючи загальний пошук.</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Оновлення завантажень (31.08.2024 / 12:47)</span>
            <span>Додано завантаження інструкції та зразків по простому натиску на піктограму знака питання.</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Фікси (26.08.2024 / 12:19)</span>
            <span>Виправлено помилку редагування коментаря. Виправлено відображення стрілок сортування у списках. Виправлено пошук та сортування на сторінці підприємства.</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Оновлення підприємств (23.08.2024 / 21:47)</span>
            <span>Додано нове поле до сутності підприємства - "Код країни". Це поле відповідає за відображення прапору країни у списку підприємств, та на сторінці визначеного підприємства.</span>
            <span>Код країни складається обов'зязково з двох латинських літер нижнього регістру (малих). Також він обов'язково має бути існуючим.</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Оновлення коментарів (23.08.2024 / 12:26)</span>
            <span>Додано можливість редагування коментарів, редагування доступне тільки автору коментаря, або користувачу з рівнем доступа 1 (Максимальний рівень).</span>
            <span>Після відправки коментаря вміст текстового поля тепер видаляється. Назва кнопки змінена з "Надіслати" на "Додати". Формат інформації щодо дати додавання коментаря змінено.</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Оновлення каталогу (22.08.2024 / 13:14)</span>
            <span>Додано можливість вибору кількості обладнання при додаванні до замовлення.</span>
            <span>Додано можливість заміни кількості обладнання для замовлення з каталогу, для цього потрібно ввести нове значення кількості, та натиснути "Замінити".</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Фікси (22.08.2024 / 12:23)</span>
            <span>Виправлена помилка при зміні підприємства для контакта, коли використовується пошук.</span>
        </div>
        <div class="card-data">
            <span style="font-weight: 600; font-size: 16px; margin-bottom: 5px;">Обрані підприємства (21.08.2024 / 20:45)</span>
            <span>Додано можливість вибору підприємств до власного списку, який буде відображатися на сторінці "Підприємства". Підприємство можна обрати до списку як зі сторінки "Підприємства", так і зі сторінки визначеного підприємства.</span>
        </div>
    </div>
</body>