@using CRMEngSystem.Models.ViewModels.Contact
@using CRMEngSystem.Models.ViewModels.Resizer
@model ContactOrdersViewModel

<head>
    <style>

        .tab-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }

        .cards-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            max-height: 60vh;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-right: 8px;
        }

            .cards-container::-webkit-scrollbar {
                width: 5px;
            }

            .cards-container::-webkit-scrollbar-track {
                background: #E1E2F3;
                border-radius: 3px;
            }

            .cards-container::-webkit-scrollbar-thumb {
                background: #4962E9;
                border-radius: 3px;
            }

                .cards-container::-webkit-scrollbar-thumb:hover {
                    background: #59CDFF;
                }

        .header-container {
            background-color: #DDE9FF;
            border-radius: 5px;
            padding: 5px 10px;
            display: inline-block;
            width: 100%;
        }

        .header-part {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: 8% 33% 10% 18% 17% calc(14% - 13px);
            padding-right: 13px;
            overflow: hidden;
            position: relative;
        }

        .header-part-column {
            font-size: 12px;
            color: #4962E9;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .header-part-column:nth-child(2), .header-part-column:nth-child(4) {
            justify-content: flex-start;
            padding: 0 15px;
        }

        .hidden {
            opacity: 0;
        }

        .visible {
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="page-container">
        @await Html.PartialAsync("_ContactMenuTab", Model)
        <div class="content hidden" data-page-identifier="ContactOrders">
            <div class="tab-container">
                @using (Html.BeginForm("ContactOrders", "ContactOrders", FormMethod.Get, new { @class = "search" }))
                {
                    <img src="~/icons/Search.svg" />
                    @Html.TextBoxFor(m => m.OrdersSearchGeneral, new { placeholder = "Пошук", @Value = Model.OrdersSearchGeneral })
                    @Html.HiddenFor(m => m.EntityId)
                    <input type="submit" style="visibility: hidden; position: absolute;" />
                }
                <div class="header-container">
                    <div class="header-part">
                        <div class="header-part-column">
                            @await Html.PartialAsync("_Resizer", new ResizerViewModel { TitleName = "Код" })
                        </div>
                        <div class="header-part-column">
                            @await Html.PartialAsync("_Resizer", new ResizerViewModel { TitleName = "Підприємство" })
                        </div>
                        <div class="header-part-column">
                            @await Html.PartialAsync("_Resizer", new ResizerViewModel { TitleName = "Пріорітет" })
                        </div>
                        <div class="header-part-column">
                            @await Html.PartialAsync("_Resizer", new ResizerViewModel { TitleName = "Ініціатор" })
                        </div>
                        <div class="header-part-column">
                            @await Html.PartialAsync("_Resizer", new ResizerViewModel { TitleName = "Дата створення" })
                        </div>
                        <div class="header-part-column">
                            @await Html.PartialAsync("_Resizer", new ResizerViewModel { TitleName = "Статус" })
                        </div>
                    </div>
                </div>
                <div class="cards-container">
                    @foreach (var entity in Model.Orders)
                    {
                        @await Html.PartialAsync("_OrderDataCard", entity)
                    }
                </div>
            </div>
            @await Html.PartialAsync("_Pagination", Model)
        </div>
    </div>
</body>
<script src="~/js/resizerScript.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const contentElement = document.querySelector('.content');
        const pageIdentifier = contentElement.getAttribute('data-page-identifier');
        initColumnResizer(pageIdentifier);
    });
</script>